.control-button {
  background-color: transparent;
  border: none;
  width: 32px;
  min-width: 32px;
  height: 32px;
  color: var(--color-contrast-low);
  outline: none;
  position: relative;
  opacity: 0.8;

  &--active {
    color: var(--color-primary);
  }

  &--active-dot {
    color: var(--color-primary);

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 4px;
      height: 4px;
      content: "";
      border-radius: 50%;
      background-color: #1db954;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }

  &--circled::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid var(--color-contrast-low);
    --scale-value: 1.07;
  }

  &:hover {
    opacity: 1;

    &.control-button--circled::after {
      border-color: var(--color-contrast-lower);
      transform: scale(var(--scale-value));
      -webkit-transform: scale(var(--scale-value));
      -moz-transform: scale(var(--scale-value));
    }
  }

  &:active {
    opacity: 0.8;
  }
}
