@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(../../fonts/Montserrat-Regular.ttf) format('truetype');
}

:root {
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

.font1 {
  font-size: 13px;
  font-weight: var(--font-weight-bold);
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

.font2 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  text-align: left;
}

.font3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
