.link-subtle {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  color: var(--color-contrast-low);
}
a.link-hover-underline:hover {
  border-color: inherit;
}
