@import './reset';
@import './color';
@import './font';
@import './link';
@import './icon';
@import './button';
@import './main-content';

:root {
  --top-bar-height: 60px;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

body {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-transform: none;
  font-weight: var(--font-weight-normal);
  -webkit-font-smoothing: antialiased;
}

#root {
  z-index: 0;
}

a.blur-click,
button.blur-click {
  &:active {
    opacity: 0.8;
  }
}

a {
  color: var(--color-contrast-lower);
  border-bottom: 1px solid transparent;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  width: inherit;
  height: inherit;

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
  }
}

.ellipsis {
  &--normal {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--exp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    &.one-line {
      -webkit-line-clamp: 1;
    }

    &.two-line {
      -webkit-line-clamp: 2;
    }
  }
}

.middle-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'nav-bar main-content buddy-feed'
    'now-playing-bar now-playing-bar now-playing-bar';
  background-color: var(--color-bg);
  color: var(--color-contrast-low);

  &__top-bar {
    grid-area: main-content;
    height: var(--top-bar-height);
    z-index: 2;
  }

  &__nav-bar {
    grid-area: nav-bar;
    width: 230px;
    min-height: 0;
    background-color: var(--color-contrast-high);
    z-index: 3;
  }

  &__now-playing-bar {
    grid-area: now-playing-bar;
    z-index: 4;
  }

  &__main-content {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
  }
}

.top-bar {
  position: relative;
  height: var(--top-bar-height);
  display: flex;
  align-items: center;
  padding: 16px 32px;
  justify-content: space-between;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-contrast-higher);
    z-index: -1;
  }
}
[dir='ltr'] {
  .top-bar-action {
    margin-right: 16px;
  }

  .user-box .top-bar-action {
    margin: 0 0 0 16px;
  }
}
[dir='rtl'] {
  .top-bar-action {
    margin-left: 16px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .user-box .top-bar-action {
    margin: 0 16px 0 0;
    transform: none;
  }
}
.top-bar-action {
  border: none;
  width: 32px;
  height: 32px;
  background-color: var(--color-contrast-high);
  border-radius: 50%;
  overflow: hidden;
  color: var(--color-contrast-lower);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon {
    width: 22px;
    height: 22px;
  }
}
.web-history-navigation,
.user-box {
  display: flex;
}

.nav-bar {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    .logo-link {
      margin-bottom: 18px;
      display: block;

      .logo--text {
        width: 131px;
        height: 40px;
      }
    }
  }

  &__quick-access {
    margin-top: 24px;
    flex: 1;
    min-height: 0;
  }
}
/* navigation bar header */
[dir='ltr'] .nav-bar__header .logo-link {
  padding-left: 24px;
}
[dir='rtl'] .nav-bar__header .logo-link {
  padding-right: 24px;
}
/* navigation bar nav item */
.nav-bar-item {
  padding: 0 8px;

  .nav-bar-link {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 40px;
    border-radius: 4px;

    &.active {
      color: var(--color-contrast-lower);
      background-color: var(--color-contrast-medium);

      .nav-bar-icon.off {
        display: none;
      }

      .nav-bar-icon.active {
        display: block;
      }
    }
    &--text-with-icon-container {
      display: flex;
      align-items: center;

      .nav-bar-icon {
        width: 24px;
        height: 24px;
      }
    }
    &:hover {
      color: var(--color-contrast-lower);
    }
  }

  .nav-bar-icon.download {
    width: 20px;
    height: 20px;
  }
  .nav-bar-icon.off {
    display: block;
  }
  .nav-bar-icon.active {
    display: none;
  }
}
[dir='ltr'] .nav-bar-item .nav-bar-link__text {
  margin-left: 16px;
}
[dir='rtl'] .nav-bar-item .nav-bar-link__text {
  margin-right: 16px;
}
/* navigation bar quick access */
.quick-access {
  display: flex;
  flex-direction: column;
  height: 100%;
  --left-side-bar-space-left: 24px;
  --left-side-bar-space-right: 24px;

  &__header {
    margin: 0 var(--left-side-bar-space-left) 12px
      var(--left-side-bar-space-right);
  }

  &__divider {
    margin: 8px var(--left-side-bar-space-left) 8px
      var(--left-side-bar-space-right);
    background-color: var(--color-contrast-medium);
    border: none;
    height: 1px;
  }

  &__playlists {
    overflow-y: auto;
  }
}
/* navigation bar extra */
.nav-bar-extra-item {
  color: var(--color-contrast-lower);
  opacity: 0.7;
  background-color: transparent;
  border: none;
  padding: 5px var(--left-side-bar-space-left) 5px
    var(--left-side-bar-space-right);
  display: flex;
  align-items: center;
  width: 100%;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }

  .icon {
    background: var(--color-contrast-lower);
    width: 32px;
    height: 32px;
    padding: 4px;
    fill: var(--color-contrast-high);
    display: flex;
    align-items: center;
    justify-content: center;

    &.favorite {
      background: linear-gradient(135deg, #450af5, #c4efd9);
      color: #ffffff;
    }
  }
}
[dir='ltr'] .nav-bar-extra-item .icon {
  margin-right: 16px;
}
[dir='rtl'] .nav-bar-extra-item .icon {
  margin-left: 16px;
}
/* navigation bar playlists */
.quick-access-item-playlist {
  padding: 0 var(--left-side-bar-space-left) 0 var(--left-side-bar-space-right);

  &__link {
    color: var(--color-contrast-low);
    padding: 6px 0;
    display: block;

    &.active {
      color: var(--color-contrast-lower);
    }

    &:hover {
      color: var(--color-contrast-lower);
    }
  }
}

.now-playing-bar-wrapper {
  background-color: var(--color-contrast-medium);
}
.now-playing-bar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  &__left {
    width: 30%;
    min-width: 180px;
  }
  &__center {
    width: 40%;
    max-width: 722px;
  }
  &__right {
    width: 30%;
    min-width: 180px;
    display: flex;
    justify-content: flex-end;

    .extra-controls-wrapper {
      width: 180px;
    }
  }
}
.now-playing {
  display: flex;
  align-items: center;

  .cover-container {
    position: relative;

    &:hover {
      .cover-expander {
        opacity: 0.9;
      }
    }
  }
  .cover-expander {
    position: absolute;
    top: 5px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--color-contrast-high);
    border: none;
    outline: none;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-contrast-low);
    --scale-value: 1.1;

    &:hover {
      color: var(--color-contrast-lower);
      opacity: 1 !important;
      transform: scale(var(--scale-value));
      -webkit-transform: scale(var(--scale-value));
      -moz-transform: scale(var(--scale-value));
    }
    .icon {
      width: 24px;
      height: 24px;
      transform: rotate(90deg);
      padding: 2px;
    }
  }
  .cover-art {
    width: 56px;
    height: 56px;
    position: relative;
    background-color: var(--color-contrast-medium);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .icon {
      position: absolute;
      top: 35%;
      bottom: 35%;
      left: 35%;
      right: 35%;

      .target {
        width: 100%;
        height: 100%;
      }
    }
  }
  .track-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 14px;
  }
  .track-artists a {
    color: var(--color-contrast-low) !important;

    &:hover {
      color: var(--color-contrast-lower) !important;
    }
  }
}
[dir='ltr'] .now-playing .cover-expander {
  right: 5px;
}
[dir='rtl'] .now-playing .cover-expander {
  left: 5px;
}
.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__buttons {
    margin-bottom: 12px;
    width: 224px;
    display: flex;
    justify-content: space-between;
  }
}
.playback-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__progress-time {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.015em;
    min-width: 40px;
    text-align: center;
    font-weight: var(--font-weight-normal);
  }
}
.progress-bar {
  height: 12px;
  position: relative;
  width: 100%;

  &__bg,
  &__fg-wrapper,
  &__fg {
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  &__bg {
    background-color: var(--color-contrast-low-semi);
  }
  &__fg-wrapper {
    overflow: hidden;
  }
  &__fg {
    background-color: var(--color-contrast-low);
  }
  &__slider {
    background-color: var(--color-contrast-lower);
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
  }
  &--active {
    .progress-bar__fg {
      background-color: var(--color-primary);
    }
    .progress-bar__slider {
      opacity: 1;
    }
  }
}
.extra-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.volume-bar {
  display: flex;
  width: 136px;
  align-items: center;
}

.main-content-container {
  flex: 1;

  &__scroll-node {
    height: 100%;
    overflow-y: scroll;
  }
  &__scroll-node-spacer {
    height: var(--top-bar-height);
    position: sticky;
    top: 0;
  }
  &__scroll-node-child {
    padding-bottom: 32px;
  }
}
